<!DOCTYPE html>
<html>
<head>
  <title>SolarEyes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'navbar' %>

  <div style="margin-top:50px">
    <%= bootstrap_flash %>
  </div>

<%= yield %>


<%= render 'footer' %>


</body>
</html>
