<!DOCTYPE html>
<html>
<head>
  <title>SolarEyes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- Favicons -->
<%= link_to(image_tag("/assets/ico/apple-touch-icon-144-precomposed.png", :size => "144x144", :rel => "apple-touch-icon-precomposed")) %>
<%= link_to(image_tag("/assets/ico/apple-touch-icon-114-precomposed.png", :size => "114x114", :rel => "apple-touch-icon-precomposed")) %>
<%= link_to(image_tag("/assets/ico/apple-touch-icon-72-precomposed.png", :size => "72x72", :rel => "apple-touch-icon-precomposed")) %>
<%= link_to(image_tag("/assets/ico/apple-touch-icon-57-precomposed.png", :size => "57x57", :rel => "apple-touch-icon-precomposed")) %>
<%= link_to(image_tag("/assets/ico/favicon.png", :rel => "shortcut icon")) %>


</head>
<body>

<%= render 'navbar' %>

  <div style="margin-top:50px">
    <%= bootstrap_flash %>
  </div>

<div style="z-index: 20; position:absolute; width: 100%; text-align: center; top: 50%; margin-top: -150px;">
  <div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4" id="container" style="display: inline-block;";>
        <div class="devise">
          <div class="row" >

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'footer' %>


</body>
</html>
