<!DOCTYPE html>
<html>
<head>
  <title>SolarEyes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
                               <link rel="shortcut icon" href="./assets/ico/favicon.png">

</head>
<body>

<%= render 'navbar' %>

  <div style="margin-top:50px">
    <%= bootstrap_flash %>
  </div>

<div style="z-index: 20; position:absolute; width: 100%; text-align: center; top: 50%; margin-top: -150px;">
  <div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4" id="container" style="display: inline-block;";>
        <div class="devise">
          <div class="row" >

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'footer' %>


</body>
</html>
